---
import { Content } from '../content/index.md';
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>100Docs</title>
  <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.css">
  <link rel="stylesheet" href="/styles/global.css">
</head>
<body>
  <Content />
</body>
</html>